.layui-container{
    width: 50%;
}
.layui-logo{
    margin-top:5%;
}
.img img {
    height:175px;
}
.layui-btn+.layui-btn{
    margin-left: 30px;
}
.buwz{
    margin-left: 30px;
}
.layui-form-select .layui-edge {
    right: 80px;
}